<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'/>
    <title><%= pageName %></title>
    <link rel="stylesheet" type="text/css" href="css/github.css" />
    <link rel="stylesheet" type="text/css" href="css/doc.css"/>
  </head>
  <body>
  	<header class="background">
      <p class="version">DocServer version 1.0</p>
  		<h1><%= pageName %></h1>
  	</header>
    <div class="container">
      <div class="row">
        <aside class="sidebar block">
          <h2>Content</h2>
          <%= toc %>
        </aside>
        <div id="markup">
          <article id="content" class="markdown-body block">

            <%= page %>

          </article>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <footer><p>&copy; <a href="http://mcgivrer.wordpress.com/">McGivrer</a> 2013 - <a href="mailto:frederic.delorme@gmail.com&subject=Game 2D tutorial" title="Send a mail to author">contact</a></p></footer>
  </body>
</html>